{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                {{ product.description }}
            </h1>
            <p class="lead">{{ product.title }}</p>
            <br />
            <h5 class="text-danger">${{ product.price }}</h5>
            <br />

            <form action="/cart">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <input id="product_id" type="hidden" name="product_id" value="{{product.id}}">
                    <button
                        type="submit"
                        class="btn btn-primary btn-lg px-4 me-md-2"
                    >
                        BUY NOW
                    </button>

                    <button
                        type="submit"
                        class="btn btn-outline-secondary btn-lg px-4"

                    >
                        ADD TO CART
                    </button>
                </div>
            </form>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img
                src="{{ product.image.url }}"
                class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes"
                width="700"
                height="500"
                loading="lazy"
            />
        </div>
    </div>
</div>

{% endblock %}
